    /* rip orange eshop 2011 - 2025 */
    
    #sidebar {
      background: #ff8000;
      color: #ffc176;
      
      width: 480px;
      display: block;
      margin-left:0;
      padding-top:37px;
      height:100%;max-height:720px; overflow:hidden auto; /* x,y*/
      transition:.2s ease-in-out;
      z-index:2;
    }
    #sidebarcoverwhenmoved {
      position:absolute;top:0px; left:0px;
      background-color:inherit;
      width:50px; max-width:50px; min-height:720px; height:720px; max-height:720px; overflow:hidden;
      display:block;
      z-index:3;
    }

    #sidebar .navlink {
      text-decoration:none;
      display:block;
      height:85px;
      padding-top:30px;
      padding-bottom:30px;
      width:inherit;  max-width:inherit; overflow:hidden;
      text-align:center;
      margin-left:0px;
      cursor: pointer;
      font-size: 20px;
      color:inherit;
    }

    #sidebar a:hover {
      background: #ffffff33 !important;
      color: #fde3c0  !important;
    }
    
    #sidebar a:focus {
      background: #ffffff33 !important;
      color: #fde3c0  !important;
    }

    /* rip orange eshop 2011 (or 2005 if you count the beta wii shop) - 2025 */
